#Pyhton - Data structure

## Theory Q&A

1. What are data structures, and why are they important?
   - Way of organising and storing data s that it can be accessed and manipulated efficiently.

2. Explain the difference between mutable and immutable data types with examples
   - Objects/Containers whose state  or values can be changed after they are created are called as mutable objects/container also called as item assignment.
   List is a type of mutable object/item assignment.
   - Objects/containers whose state or values can't be changes after they are created are called immutable objects/caontainer.
   Tuple is a type of immutable objects.

3. What are the main differences between lists and tuples in Python?
   - list can be modified & tuples can't be modified.

4. Describe how dictionaries store data
   - Dictionary is a data structure that store the data as key value pair

5. Why might you use a set instead of a list in Python?
   - If we want to store unique values then set to be used.

6. What is a string in Python, and how is it different from a list?
   - String is an immutable sequence of characters where as list is a mutable sequence of ordered heterogenous data.

7. How do tuples ensure data integrity in Python?
   - tuple ensure data integrity as it is immutable which means tuple can't be changed throught the execution.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure used to store data as a key value pair efficiently while python dictionaries are an implementation of hash tables.

9. Can lists contain different data types in Python?
   - yes list can contain different data types.

10. Explain why strings are immutable in Python
   - name = "PWSkills"
     name[1]='M'--> will throw an error saying this can't be modified which means strings are immutable.

What advantages do dictionaries offer over lists for certain tasks?

12. Describe a scenario where using a tuple would be preferable over a list
   - tuples would be preferrable over a list where data is not to be modified.
   Example: traficLights = ("Red","Orange","Green")
            Statu of an order in the ecommerse
            status=("Created","dispatched","in-transit","out for delivery","Delivered")

13. How do sets handle duplicate values in Python?
   - set is an unordered  collection of unique data.
       - doesn't allow duplicate elements.

14. How does the “in” keyword work differently for lists and dictionaries?
   -  The in keyword checks for the membership within a collection.
    - When used with a list, the in operator checks for the specific value is present as one of the element within the list. It iterates through the list values to find a match.
    - When used with a dictionary, the in keyword checks for the presence of specific value within the dictionary key's, not its value.

15. Can you modify the elements of a tuple? Explain why or why not
    - No we can't modify the elements of a tuple as tuple is immutable ordered collection of heterogenous data.

16.  What is a nested dictionary, and give an example of its use case?
    - Nested dictionary is a dictionary where one of its value is another dictionary.

17. Describe the time complexity of accessing elements in a dictionary
  - Accessing an element in a dictionary has an average time complexity of O(1).

18. In what situations are lists preferred over dictionaries?
    - In Python generally lists are preferred over dictionaries when order of element is important and access is primarily done by integer index, that does not need key for access or when memory efficiency is a priority.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
   - dictionaries are considered unordered as it wan't maintaining the insertion order of Key,value pair. While retrieving the data the order of the retrieved data was random.
   - Python 3.7+: dictionaries do preserve insertion order. while retrieving, the data is retrieved in the inserted order.

20. Explain the difference between a list and a dictionary in terms of data retrieval
    - The primary difference in data retrival between list and dictionary lies in their underlying structure and method used to access elements.
    - lists use indexed retrieval based on position, while dictionary use key-based retrieval based on association.

## Practical Q&A

In [ ]:
'''1. Write a code to create a string with your name and print it'''
name = "Somasekhar"
print(name)

Somasekhar

In [ ]:
'''2.Write a code to find the length of the string "Hello World"'''
sting = "Hello World"
print(len(sting))

11

In [ ]:
'''3.Write a code to slice the first 3 characters from the string "ython rogramming"'''
prog = "ython rogramming"
print(prog[3:])

on rogramming

In [ ]:
'''4.Write a code to convert the string "hello" to uppercase'''
conUp = "hello"
print(conUp.upper())

HELLO

In [ ]:
'''5.Write a code to replace the word "apple" with "orange" in the string "I like apple"'''
sent = "I like apple"
repl = "orange"
print(sent.replace("apple",repl))

I like orange

In [ ]:
'''6.Write a code to create a list with numbers 1 to 5 and print it'''
mylist = list(range(1,6))
print(mylist)

[1, 2, 3, 4, 5]

In [ ]:
'''7.Write a code to append the number 10 to the list [1, 2, 3, 4]'''
aplist = [1,2,3,4]
print("given list ",aplist)
aplist.append(10)
print("list after appending ",aplist)

given list  [1, 2, 3, 4]
list after appending  [1, 2, 3, 4, 10]

In [ ]:
'''8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]'''
relist = [1,2,3,4,5]
relist.remove(3)
print(relist)

[1, 2, 4, 5]

In [ ]:
'''9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']'''
aclist = ['a', 'b', 'c', 'd']
print(aclist[1])

b

In [ ]:
'''10.Write a code to reverse the list [10, 20, 30, 40, 50]'''
inilist = [10,20,30,40,50]
inilist.reverse()
print(inilist)

[50, 40, 30, 20, 10]

In [ ]:
''' 11.Write a code to create a tuple with the elements 100, 200, 300 and print it.'''
mytuple = (100,200,300)
print(mytuple)

(100, 200, 300)

In [ ]:
'''12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').'''
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [ ]:
'''13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).'''
import math
mituple = (10, 20, 5, 15)
print(min(mituple))

5

In [ ]:
'''14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').'''
indtuple = ('dog', 'cat', 'rabbit')
print(indtuple.index('cat'))

1

In [ ]:
'''15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.'''
fruits = ('apple','banana','orange')
print("kiwi" in fruits)

False

In [ ]:
'''16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.'''
alpset = {'a','b','c'}
print(alpset)

{'c', 'a', 'b'}

In [ ]:
'''17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.'''
num ={1, 2, 3, 4, 5}
print(num)
num.clear()
print(num)

{1, 2, 3, 4, 5}
set()

In [ ]:
'''18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.'''
renum = {1, 2, 3, 4}
renum.discard(4)
print(renum)

{1, 2, 3}

In [ ]:
'''19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.'''
s1 = {1,2,3}
s2 = {3,4,5}
print("Union of two sets is: ",s1|s2)

Union of two sets is:  {1, 2, 3, 4, 5}

In [ ]:
'''20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.'''
s1 = {1,2,3}
s2 = {3,4,5}
print("Intersection of two sets is: ",s1&s2)

Intersection of two sets is:  {3}

In [ ]:
'''21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.'''
mydict = {"name":"Somasekhar","age":37,"city":"Banglore"}
print(mydict)

{'name': 'Somasekhar', 'age': 37, 'city': 'Banglore'}

In [ ]:
'''22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.'''
mydict = {'name': 'John', 'age': 25}
country = {"country": "USA"}
mydict.update(country)
print(mydict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [1]:
'''23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.'''
mydict = {'name': 'Alice', 'age': 30}
print(mydict["name"])

Alice

In [5]:
'''24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.'''
remage =  {'name': 'Bob', 'age': 22, 'city': 'New York'}
del remage["age"]
print(remage)

{'name': 'Bob', 'city': 'New York'}

In [6]:
'''25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.'''
cityexist = {'name': 'Alice', 'city': 'Paris'}
print("city" in cityexist)

True

In [7]:
'''26. Write a code to create a list, a tuple, and a dictionary, and print them all.'''
mylist = [1,2,3,4,5,6]
mytuple = ('Jan','Feb','Mar','Apr')
mydict = {"name":"Somasekhar","age":37,"working":True}
print(mylist, mytuple,mydict,sep="\n")

[1, 2, 3, 4, 5, 6]
('Jan', 'Feb', 'Mar', 'Apr')
{'name': 'Somasekhar', 'age': 37, 'working': True}

In [9]:
'''27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)'''
import random

replaced = []
for i in range(5):
  temp = random.randint(1,100)
  replaced.insert(i,temp)
print(replaced)
replaced.sort()
print("list after sorting: ", replaced)

[75, 45, 14, 8, 2]
list after sorting:  [2, 8, 14, 45, 75]

In [10]:
'''28. Write a code to create a list with strings and print the element at the third index.'''
mylist = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
print(mylist[2])

Tuesday

In [11]:
'''29. Write a code to combine two dictionaries into one and print the result.'''
mydict = {'name': 'John', 'age': 25}
country = {"country": "USA"}
combined_dict = mydict.copy()
combined_dict.update(country)
print(combined_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [12]:
'''30. Write a code to convert a list of strings into a set.'''
mylist = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
myset = set(mylist)
print(myset)

{'Saturday', 'Sunday', 'Thursday', 'Wednesday', 'Tuesday', 'Friday', 'Monday'}